framework: net10.0
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 10.0
nuget AWSSDK.Core ~> 4.0
nuget AWSSDK.S3 ~> 4.0
nuget AWSSDK.SecurityToken ~> 4.0

nuget Feather.ErrorHandling ~> 2.0
nuget Alma.ServiceIdentification ~> 11.0
nuget Alma.Tracing ~> 13.0

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
